# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environment
.poetry/

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Install logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.cache
pytest_cache/
junit.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite

# Terraform
.terraform/
terraform.tfstate*
.terraform.lock.hcl

# Docker
*.dockerfile
docker-compose.override.yml
